doctype html
html(ng-app='domotikApp')
  head
    title= title
    meta(name="viewport", content="width=1920, initial-scale=1.0, maximum-scale=1.0, user-scalable=no;")
    link(rel='stylesheet', href='stylesheets/style.css')
    script(src='bower_components/angular/angular.min.js')
    script(src='bower_components/bower-mqttws/mqttws31.js')
    script(src='bower_components/ephemeris/src/ephemeris.min.js')
    script(src='javascripts/data.js')
    script(src='javascripts/script.js')

  block content
    div(ng-controller="domotikIndexCtrl")

      div#wallpaper(ng-style="{'background-image':'url({{background}})'}")

        div#left {{last_date}}
          div#clock
            div {{ current_time | date:'dd MMM yyyy' }}
            div
              span#hours {{ current_time | date:'HH' }}
              span#minutes {{ current_time | date:'mm' }}
              span#seconds {{ current_time | date:'ss' }}
          div#ephemeris
            div {{ ephemeride }}
          div#quote
            div {{ quote }}
          div#rte
            iframe(
              ng-if="slug == 'news'"
              src="https://eco2mix.rte-france.com/pluginWeb/data?key=a629c73819db78f4ab5cb204dcfb41590705e0be075bfa3885c044fb944414f0"
              width="350"
              height="370")

        div#current-to-right
          table#temperature
            tr
              th dehors
              td(class="stream") {{temp_outside}} °c
            tr
              th salon
              td(class="stream") {{temp_living}} °c
            tr
              th chambre
              td(class="stream") {{temp_room}} °c
          table#consumption
            tr#now
              th actuellement
              td(class="stream") {{power_now}} kWh
            tr
              th cette heure
              td(class="stream") {{power_hour}} kWh
            tr
              th aujourd'hui
              td {{sum_watt_today}} kWh
            tr
              th 
              td {{sum_euro_today}} euro
          table#temperature_outside_history
            tr
              th hier
              td {{outside_temp_yesterday}} °c
            tr
              th l'année dernière
              td {{outside_temp_last_year}} °c
            tr
              th sur 30 jours
              td {{outside_temp_last_30_days}} °c
          table#consumption_history
            tr
              th hier
              td(class="{{consumption_scoring_yesterday}}") {{sum_watt_yesterday}} kWh
            tr
              th l'année dernière
              td(class="{{consumption_scoring_last_year}}") {{sum_watt_last_year}} kWh
            tr
              th sur 30 jours
              td(class="{{consumption_scoring_last_30_days}}") {{mean_watt_last_30_days}} kWh

        div#title {{ title }}